{% extends "base.html" %}
{% block content %}
<title>Detail</title>
    <script>
      var is_login = {% if user.is_authenticated %}true{% else %}false{% endif %};
    </script>  
    <form action="{% url 'polls:vote' question.id %}" method="post" id="voteForm">
      {% csrf_token %}
      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
          {% for choice in question.choice_set.all %}
          <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
            {% if user_vote_id == choice.id %}checked{% endif %}
          />
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
          {% endfor %}

      </fieldset>
      <a href="{% url 'polls:index' %}" id="backToListBTN">Back to list</a>
      <input type="submit" value="Vote" id="voteBTN" />
      
    </form>
{% endblock %}
