<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KU Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load static %}
    <script src={% static '/js/script.js' %}>
    </script>   
    
</head>
<body>
    <div id="header">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            <li><a href="{% url 'logout'%}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            <li><a href=""></a>Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'admin:login' %}">Admin</a></li>
            {% endif %}
        </ul>
    </div> 
    {% if user.is_authenticated %}
        Welcome back, {{ user.username }} 
    {% else%}
        <marquee behavior="alternate" direction="left" id="marq_login"> You need to login !</marquee>
    {% endif %}
    {% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if latest_question_list %}
    <table id="main_table">
        <tr>
            <th>
                <h1>Question</h1>
            </th>
            <th>
                <h1>Status</h1>
            </th>
            <th>
                <h1>Result</h1>
            </th>
        </tr>
        <tr>
            <td>
                <ol>
                    {% for question in latest_question_list %}
                        <li id="question">
                            <a href="{% url 'polls:detail' question.id %}" {% if not question.can_vote %}class="disabled" data-disabled="true"{% endif %}>
                                {{ question.question_text }}
                                <br>
                            </a>
                            
                            <br>
                        </li>
                    {% endfor %}
                </ol>
            </td>
            <td>
                <ul>
                    {% for question in latest_question_list %}
                        <li>
                            {% if question.can_vote %}
                                <span class="status"><div id="correct_logo"></div></span>
                                <br>
                            {% else %}
                                <span class="status"><div id="wrong_logo"></div></span>
                                <br>
                            {% endif %}
                        </li>   
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="results-list">
                    {% for question in latest_question_list %}
                        <li>
                            {% if question.can_vote %}
                            <a href="{% url 'polls:results' question.id %}" class="results-link"><div id="correct_result">Results</div></a>
                            <br>
                            {% else %}
                            <a href="{% url 'polls:results' question.id %}" class="results-link"><div id="wrong_result" class="disabled" data-disabled="true">Results</div></a>
                            <br>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            
        </tr>
    </table>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    <div id="footer">
        <p>© 2023 KU Polls By <a href="https://github.com/GGWPXXXX" target="_blank">GG_WPX, 2023</a></p>
    </div>


</body>
</html>
