<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body id="log_body">
    <div id="header">
      <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'polls:index' %}">Home</a></li>
          <li><a href="{% url 'logout'%}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'polls:index' %}">Home</a></li>
          <li><a href="{% url 'signup'%}">SignUp</a></a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'admin:login' %}">Admin</a></li>
          {% endif %}
      </ul>
  </div>
    <div id="login_header"></div>
    <div id="login_main_box">
      <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
        <div id="log_sub_btn"><button type="submit" style="width: 250px; height: 100px; background-color: transparent; border: none;">
          
        </button></div>
        <input type="hidden" name="text" value="{{ next }}" />
      
      </form>
  </div>
  </body>
</html>
